<!--
<app-customer></app-customer>
<app-account></app-account>
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<app-header></app-header>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<div class="row"></div>
<app-footer></app-footer>

</html>